body {
    background-color: rgba(61, 35, 0, 0.658); /* Agregando fondo a toda la pagina desde un parent tag */
    margin: 0; /* Quitar los margenes siempre sirve para evitar problemas de posiciones */
    padding-top: 15px; /* En body no hace falta agregar un padding */
    display: flex; /* Habilité flex box para poder mover las cajas entre si */
    justify-content: center; /* Centré el proyecto desde la parent tag */

}

main {
    font-family: helvetica; /* Tipografia */
    color: rgb(59, 59, 59); /* Color de tipografia */
    /* border: solid 1px red ; */
    background-color: rgb(228, 228, 228); /* Agregué el color de la caja de la lista */
    background-image: url(https://st.depositphotos.com/2850099/4441/v/950/depositphotos_44412173-stock-illustration-white-squared-paper-seamless-sheet.jpg);
    background-size: 200px; /* se coloca un img de bg y se modifica su tamaño y su repeticion */
    border-radius: 30px; /* Bordes redondeados para el diseño */
    height: auto; /* La altura se establece automaticamente 
                    para conforme aumente o disminuya el contenido */
    width: 50%; /* El ancho del proyecto corresponde al 50% de la caja "body" */
    /* margin: 5px 100px 0px 100px; */ /* Agregué margin para centrar el contenido pero es una 
                                        mala practica si queremos que nuestro diseño sea   
                                        un poco mas responsivo */
    padding: 0, 0, 0, 0;
    box-shadow: 5px 5px 20px #310000; /* Agregué sombre a la caja 
                                            principal para embellecer el diseño */
}
section { /* Aqui esta el contenido imagenes y texto */
    /* border: solid 1px red ; */
    /* display: inline-block;*/ 
}

#boxgroceries {
    display: flex; /* Habilitando flex box para colocar las imagenes y el texto en paralelo */
    padding: 10px; /* padding es para separar el contenido de la caja */
}

figure {
    /* max-height: auto; */
    margin: 4px; /* margen para separar un poco las magenes de los bordes de cajas */
    width: 60%; /* Estableciendo las dimensiones de la caja figure que contiene imagenes */
    height: 60%; /* Estableciendo las dimensiones de la caja figure que contiene imagenes */
    padding: 10px;
}

img {
    max-width: 100%; /* Esto funciona para hacer imagenes responsivas */
    height: auto;   /* Esto funciona para hacer imagenes responsivas */
    padding: 4px;
    border: 1px solid rgb(170, 170, 170); /* Agregando bordes para decoracion fotografica */
    border-radius: 6px; /* Agregando bordes para decoracion fotografica */
    background: #ddd;   /* Agregando bordes para decoracion fotografica */
    box-shadow: 1px 1px 5px #424242; /* La sombre siempre embellece el diseño */
}


#title { /* Añadiendo propiedades del titulo de la pagina */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
    

}
#subtitle { /* añadiendo propiedades de tamaño y estilo de fuentes */
    font-size: 18px;
    color: rgb(82, 82, 82);
    padding-left: 30px;
    justify-content: center;
    height: auto;
    width: 20%; /* El tamañao de la caja corresponde al 20% de la caja #boxgroceries */
    list-style-type: none; /* Este atributo quita los bullets de la lista */
    margin: 0;
}
#list { /* propiedades de texto y tamaño en la caja list */
    font-size: 12px;
    text-decoration: initial !important; /* quitar subrayado de anchor (didn't works) */
    color: rgb(112, 112, 112);
    padding-left: 50px; /* padding para acomodar el texto */
    padding-top: 15px;
    height: auto;
    width: 30%;
    /* display: block; */
    margin: 0;
    text-align: left; /* posicion de texto */
    
}

a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    
}

